<%- include("../partials/header") %>

<h1>All Skills</h1>
<h3>Skills as of <%= time %></h3>
<ul>
  <% skills.forEach(function(s) { %>
  <li>
    <form action="/skills/<%= s.id %>?_method=DELETE" method="post"
      class="delete-form"
      >
        <button type="submit">X</button>

    </form>
    <a href="/skills/<%= s.id %>"><%= s.skill %></a>
    - <%= s.knowledge %>
  </li>
  <% }); %>
</ul>
<a href="/skills/new">Add Skill</a>

<%- include("../partials/footer") %>
