<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs</div>
    <div><%= flight.departs %></div>

    <br><br><h2>Destination</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:
    <select name="airport">
        <option value="TPA">TPA</option selected>
        <option value="SJO">SJO</option>
        <option value="REK">REK</option>
        <option value="DEN">DEN</option>
        <option value="ATL">ATL</option>
        <option value="DFW">DFW</option>
        <option value="SAN">SAN</option>
        <option value="LAX">LAX</option>
      </select>
  </label>
  <label>Arrival:
    <input type="datetime-local" name="arrival" >
  </label>
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
            <th>Airport</th>
            <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
              <td><%= d.airport %></td>
              <td><%= d.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>

<%- include('../partials/footer') %>
